<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @current_user %>
        <%= @current_user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% @users.each do |user| %>
      <% @user = user %>
      <div style="margin: 10px 0">
        <div class="col-sm-2"><li><%= link_to @user.name, @user %></li></div>
        <div class="col-sm-10"><%= render 'follow_form' if logged_in? %></div>
        <br />
        <hr />
      </div>
    <% end %>
    
  </div>
</div>